html,
body {
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 100vh;
  width: 100vw;
  font-family: Roboto, sans-serif;
  background-image: url('https://media.istockphoto.com/id/926497236/photo/tropical-sea-in-summer.jpg?s=612x612&w=0&k=20&c=SgT--E-a5_UF4GPVnpC6r1IDtThuDiUHmtTbhHg5zJA=');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  background: rgba(200, 200, 200, 0.1);
  min-height: 350px;
  min-width: 450px;
  padding: 0.2rem 1rem 1rem;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

/* HEADER SECTION */
.header {
  text-align: center;
  margin: 0.8rem 0;
}

.header h2 {
  font-size: 2rem;
  color: coral;
  margin: 0;
}

.header p {
  color: slategrey;
  margin: 0;
  font-size: 0.8rem;
}

/* SEARCH SECTION */
.search {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 4rem;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  overflow: hidden;
}

.search input,
button {
  font-size: 1rem;
  padding: 5px;
  border: none;
  box-sizing: border-box;
}

.search button {
  transition: background-color 0.3s ease;
}

.search button:hover {
  cursor: pointer;
  background-color: skyblue;
}


.search input {
  width: 100%;
  padding: 0.5rem 0.5rem;
  border: none;
  box-sizing: border-box;
  outline: none;
}

/* Present Forecast */
.weather-present {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 1rem 0;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

/* Future Forecast */
.weather-future {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  width: 100%;
}

.future-item {
  width: 100px;
  background: rgba(255, 255, 255, 0.5);
  padding: 1px 10px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  text-align: center;
}
